// Variables 🧮 //

// Colors 🎨
$black: #000;
$white: #fff;
$fake-white: #FBFBFD;
$primary: #593D8C;
$primary-light: #7E45E5;
$primary-dark: #453270;
$primary-darker: #191028;
$secondary: #EB522B;
$tertiary: #40B384;
$grey: #797483;
$grey-light: #B5B3B3;
$grey-lighter: #E8E8E8;

// Ease
$easeInOut: cubic-bezier(0.77, 0, 0.175, 1);

// Fonts ✍
// serif
$serif-font: serif;

// sans
$sans-serif-font: sans-serif;

$dm: 'DM Sans',
$sans-serif-font;
$ageo: 'ageo',
$sans-serif-font;
$ageo-medium: 'ageo-medium',
$ageo;
$ageo-semi-bold: 'ageo-semi-bold',
$ageo-medium;
$ageo-bold: 'ageo-bold',
$ageo-semi-bold;

// Texts variables 🖌
$text-size-mobile: 14;
$text-size-desktop: 16;

// Components sizes 📏
$header-height: 88px;
$header-logo-height: 28px;

// Grids variables 📐
$gutter: 15px; // Space between columns = 30px
$small-gutter: 10px;
$line-height: 20px;

// Mediaqueries 📱
// Horizontal sizes
$desktop-xxl: 1400px;
$desktop-large: 1280px;
$desktop: 1100px;
$desktop-small: 960px;
$tablet: 780px;
$phone: 580px;
$phone-small: 400px;

// Vertical sizes
$phone-small-v: 600px;
$desktop-v: 900px;
$desktop-xxl-v: 1080px;
